<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/style.css"/>
        <title>BiblioSolis</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <div class="logo">
                    <img src="public/img/logo.svg">
                    <div class="banner">BiblioSolis</div>
                </div>
            </div>
            <div class="actions">
                <button class="action-button">Login</button>
                <button class="action-button">Register</button>
            </div>
        </div>
    </body>
</html>